<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#myPage"><img src="templates/imagens/IGRSS.png" alt="IGRSS" width="80" height="60"></a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#about">SOBRE</a></li>
        <li><a href="#services">PRODUTO</a></li>
        <li><a href="#portfolio">PORTFOLIO</a></li>
        <li><a href="#pricing">PREÇO</a></li>
        <li><a href="#contact">CONTATO</a></li>
        <% unless member_signed_in? %>
          <li>
            <%= link_to "ENTRAR", new_member_session_path %>
          </li>
          <li>
            <%= link_to "NOVO USUÁRIIO", new_member_registration_path %>
          </li>
        <% else %>
        <li>
          <%= link_to current_member.email, "#" %>
        </li>
        <li>
          <%= link_to "SAIR", destroy_member_session_path, method: :delete %>
        </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>